{% extends "base.html.twig" %}

{% block header %}
    <nav class="nav-bar">
        <ul class="li-nav">
            <li><a href="http://localhost:8888/tattooshopv2/public/date-user">Rendez-vous</a></li>
            <li><a class="tattoo" href="http://localhost:8888/tattooshopv2/public/home-page">Tattoo Shop</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        {% if app.user %}
            <a href="{{ path('app_logout') }}">
                <span>Bonjour : {{ app.user.firstname }} </span>Déconnexion</a>
        {% else %}
            <a href="{{ path('app_login') }}">Connexion</a>

        {% endif %}
    </nav>

{% endblock %}

{% block main %}

    {% for message in app.flashes('success') %}
        {{ message }}
    {% endfor %}

    {{ form_start(form) }}

    {{ form(form) }}

    {{ form_end(form) }}




{% endblock %}