{% extends "base.html.twig" %}

{% block header %}
    <nav class="nav-bar">
        <ul class="li-nav">
            <li><a href="#">Rendez-vous</a></li>
            <li><a class="tattoo" href="http://localhost:8888/tattooshopv2/public/home-page">Tattoo Shop</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        {% if app.user %}
            <a href="{{ path('app_logout') }}">
                <span>Bonjour : {{ app.user.firstname }} </span>Déconnexion</a>
        {% else %}
            <a href="{{ path('app_login') }}">Connexion</a>

        {% endif %}
    </nav>



{% endblock %}


{% block main %}
    <section class="img-home">

        {% for picture in pictures %}
            <img src="{{ asset('uploads/images/') ~ picture.picture }}" alt="Photo de tatouage">

            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path ('admin_pictures_delete',{'id':picture.id }) }}">Supprimer cette photo</a>
            {% endif %}

        {% endfor %}
    </section>

    <a class="bouton" href="{{ path('gallery') }}">Galerie</a>

    <div class="separator">
        <h2>Le Shop</h2>
    </div>
    <section>
        <div class="left">
            <p class="artist">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, adipisci beatae cumque dolores ducimus et, facilis nemo quaerat saepe sed vel voluptas voluptatum. Autem harum minus possimus quo quod velit?A aliquam beatae corporis earum eveniet harum ipsum, labore laboriosam libero nihil obcaecati rerum sint soluta ut vero! A, ab ad alias deserunt in ipsam minus nisi sunt temporibus ut!</p>
        </div>
        <div class="right">
            <img src="" alt="">
        </div>
    </section>

    <div class="separator">
        <h2>Prendre Rendez vous</h2>
    </div>
{% endblock %}

