{% extends "base.html.twig" %}

{% block main %}
    {% for picture in pictures %}
        <section>
            <img src="{{ asset('uploads/images/') ~ picture.picture }}">
            <a href="{{ path ('admin_pictures_delete',{'id':picture.id }) }}">Supprimer cette photo</a>
        </section>
    {% endfor %}

    <a class="bouton" href="{{ path('gallery') }}">Galerie</a>
    {% if app.session.started %}
        <a class="bouton" href="{{ path('app_logout') }}">Déconnexion</a>

        {% else %}
            <a class="bouton" href="{{ path('app_login') }}">Connexion</a>
    {% endif %}

{% endblock %}