{% extends "base.html.twig" %}



{% block main %}
    <section class="section-profil">
        <div class="profil">
            <p>Nom : {{ app.user.name }}</p>
            <p>Prénom : {{ app.user.firstname }}</p>
            <p>E-mail : {{ app.user.email }}</p>

            <div class="container">
                <a class="button" href="{{ path('update_profil') }}">Modifier profil</a>
            </div>

{#            <button class="edit-profil btn form-control my-4" type="submit">#}
{#                <a href="{{ path('update_profil') }}">Modifier profil</a>#}
{#            </button>#}
        </div>
    </section>

{% endblock %}



{% block footer %}
    <section>
        <div class="contact">
            <h2>Tattoo <br> Shop</h2>
            <div class="adresse">
                <h2>Adresse</h2>
                <p>12 Rue Jules <br> Guesde <br> 33850 Léognan</p>
            </div>
            <div class="horaires">
                <h2>Horaires</h2>
                <p>Du mardi au samedi <br> 10h - 19h</p>
            </div>
        </div>
        <p class="copyright">Copyright Tattoo Shop - 2022</p>
    </section>
{% endblock %}